
.footer .xahoi {
    font-size: 28px;
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer .xahoi a:hover {
    color: #E30073;
}
.footer {
    padding: 70px 0;
    background-color: #343a40;
    color: ghostwhite;
    text-align: center;
    hr {
        color: ghostwhite;
    }
}

