<div class="footer">
  <div class="dt">
    <div class="fa fa-phone"></div> (123) 456-7890
    <div class="em">
      <i class="far fa-envelope"></i> abc@gmail.com
    </div>
    <div class="xahoi">
      <a href="">
        <i class="fab fa-google-plus-square"></i>
      </a>
      <a href="">
        <i class="fab fa-skype"></i>
      </a>
      <a href="">
        <i class="fab fa-facebook-square"></i>

      </a>
    </div>
    <hr class="vienduoi">
    <p>Copyright © H2T Team 2018</p>
  </div>