<div class="boss">
  <div class="container">
    <div class="title text-center">
      <h4>My locations:</h4>
      <hr>
    </div>
    <div class="quan">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <img src="assets/foody-mobile-c2-jpg-973-635889741902886347.jpg" alt="" width="300" height="250">
          <div class="row">
            <div class="col-md-10">
              <p style="font-weight:500; color: rgb(34, 31, 31);"> Thai Ha restaurant</p>
            </div>
            <div class="col-md-2 favorite">
              <i style="color:gray; font-size: 18px;" class="fab fa-gratipay"></i>
            </div>
          </div>
          <p>
            <i style="color: gray;" class="fas fa-map-marker"></i> Quan 1</p>
          <p style="font-size: 12px;">
            <i style="color: gray;" class="fas fa-info-circle"></i> Foody is really good</p>
          <span class="btn">
            <button style="width:95px;" type="button" class="btn btn-outline-info">View more</button>
            <button style="width:95px" type="button" class="btn btn-danger" (click)="openDialog()">Set party</button>
            <button type="button" class="btn btn-success" (click)="openJoinDialog(quan._id)">Join</button>
          </span>
        </div>
        <div class="col-md-4 col-sm-6">
          <img src="assets/foody-mobile-c2-jpg-973-635889741902886347.jpg" alt="" width="300" height="250">
          <div class="row">
            <div class="col-md-10">
              <p style="font-weight:500; color: rgb(34, 31, 31);"> Thai Ha restaurant</p>
            </div>
            <div class="col-md-2 favorite">
              <i style="color:gray; font-size: 18px;" class="fab fa-gratipay"></i>
            </div>
          </div>
          <p>
            <i style="color: gray;" class="fas fa-map-marker"></i> Quan 1</p>
          <p style="font-size: 12px;">
            <i style="color: gray;" class="fas fa-info-circle"></i> Foody is really good</p>
          <span class="btn">
            <button style="width:95px;" type="button" class="btn btn-outline-info">View more</button>
            <button style="width:95px" type="button" class="btn btn-danger" (click)="openDialog()">Set party</button>
            <button type="button" class="btn btn-success" (click)="openJoinDialog(quan._id)">Join</button>
          </span>
        </div>
        <div class="col-md-4 col-sm-6">
          <img src="assets/foody-mobile-c2-jpg-973-635889741902886347.jpg" alt="" width="300" height="250">
          <div class="row">
            <div class="col-md-10">
              <p style="font-weight:500; color: rgb(34, 31, 31);"> Thai Ha restaurant</p>
            </div>
            <div class="col-md-2 favorite">
              <i style="color:gray; font-size: 18px;" class="fab fa-gratipay"></i>
            </div>
          </div>
          <p>
            <i style="color: gray;" class="fas fa-map-marker"></i> Quan 1</p>
          <p style="font-size: 12px;">
            <i style="color: gray;" class="fas fa-info-circle"></i> Foody is really good</p>
          <span class="btn">
            <button style="width:95px;" type="button" class="btn btn-outline-info">View more</button>
            <button style="width:95px" type="button" class="btn btn-danger" (click)="openDialog()">Set party</button>
            <button type="button" class="btn btn-success" (click)="openJoinDialog(quan._id)">Join</button>
          </span>
        </div>

      </div>
    </div>
  </div>


</div>
