img {
    margin: 15px 15px;
    margin-left: 50px;
    border: none;
    border-radius: 5%; 
    
}

.quan {
    margin-bottom: 20px;
}

.quan p{
    margin-left: 50px;
    margin-bottom: 2px;
}
.btn {
    margin-left: 20px;
}
.title {
    margin-top: 140px;
}