<div class="quan">
  <img src="assets/quanan.jpg" alt="" width="300" height="250">
  <p>Neon Light restaurant</p>
  <p>31 Nguyen Thi Minh Khai</p>
  <p>Infomation</p>
  <span class="btn">
    <button type="button" class="btn btn-danger">View more</button>
    <button type="button" class="btn btn-danger">Set party</button>
    <button type="button" class="btn btn-success">Join</button>
  </span>
</div>

<div class="quan">
  <img src="assets/quanan.jpg" alt="" width="300" height="250">
  <p>Neon Light restaurant</p>
  <p>31 Nguyen Thi Minh Khai</p>
  <p>Infomation</p>
  <span class="btn">
    <button type="button" class="btn btn-danger">View more</button>
    <button type="button" class="btn btn-danger">Set party</button>
    <button type="button" class="btn btn-success">Join</button>
  </span>
</div>

<div class="quan">
  <img src="assets/quanan.jpg" alt="" width="300" height="250">
  <p>Neon Light restaurant</p>
  <p>31 Nguyen Thi Minh Khai</p>
  <p>Infomation</p>
  <span class="btn">
    <button type="button" class="btn btn-danger">View more</button>
    <button type="button" class="btn btn-danger">Set party</button>
    <button type="button" class="btn btn-success">Join</button>
  </span>
</div>

<div class="quan">
  <img src="assets/quanan.jpg" alt="" width="300" height="250">
  <p>Neon Light restaurant</p>
  <p>31 Nguyen Thi Minh Khai</p>
  <p>Infomation</p>
   <span class="btn">
    <button type="button" class="btn btn-danger">View more</button>
    <button type="button" class="btn btn-danger">Set party</button>
    <button type="button" class="btn btn-success">Join</button>
  </span>
</div>