<div class="quan" *ngFor='let quan of quanAn'>
  <img src="assets/quanan.jpg" alt="" width="300" height="250">
  <p>{{ quan.TenQuan }}</p>
  <p>{{ quan.Quan }}</p>
  <p>{{ quan.MoTa }}</p>
  <span class="btn">
    <button type="button" class="btn btn-danger">View more</button>
    <button type="button" class="btn btn-danger" mat-raised-button (click)="openDialog()">Set party</button>
    <button type="button" class="btn btn-success" mat-raised-button (click)="openJoinDialog()">Join</button>
  </span>
</div>