<div  *ngFor='let quan of quanAn' class="quan">
  <img *ngIf="quan.Image!==''" src="assets/{{quan.Image}}" alt="" width="300" height="250">
  <img *ngIf="!quan.Image" src="assets/222.png" alt="" width="300" height="250">
  <!-- <img *ngIf="!quan.Image" src="assets/image-not-found.jpg" alt="" width="300" height="250"> -->
  <div class="row">
    <div class="col-md-10">
      <p style="font-weight:500; color: rgb(34, 31, 31);">{{quan.TenQuan}}</p>
    </div>
    <div class="col-md-2 favorite">
      <i style="color:gray; font-size: 18px;" class="fab fa-gratipay"></i>
    </div>
  </div>
    <p>
      <i style="color: gray;" class="fas fa-map-marker"></i> {{ quan.Address }}
    </p>
  <p style="font-size: 12px;">
    <i style="color: gray;" class="fas fa-info-circle"></i> {{ quan.TimeStart }} - {{ quan.TimeEnd }} </p>
  <span class="btn">
    <button [routerLink]="['/quanan/',quan.slugUrl]" style="width:95px;" type="button" class="btn btn-outline-info">View more</button>
    <button style="width:95px" type="button" class="btn btn-danger" (click)="openDialog()">Set party</button>
    <button type="button" class="btn btn-success" (click)="openJoinDialog(quan._id)">Join</button>
  </span>
</div>