body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }
.collapse a {
    color: ghostwhite;
    text-decoration: none;
    margin-right: 20px;
}
.collapse a:hover{
    color: greenyellow;
}
.welcom{
    margin-top: 70px;
    margin-bottom: 28px;
}
.navbar-brand{
    font-size: 27px;
    margin-right: 40px;
}
