<div class="text-center">
  <img class="image " src="assets/images.png" alt="" width="120" height="120">
  <div class="choose_file">
    <span>Change Avatar</span>
    <input name="Select File" type="file" />
  </div>
</div>
<div class="info ">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-push-2">
        <div class="row">
          <div class="left col-md-6">
            <p>Name:</p>
          </div>
          <div class="right col-md-6">
            <input type="text"  class="form-control" placeholder="Change name" required>
          </div>
          <div class="left col-md-6">
            <p>Address:</p>
          </div>
          <div class="right col-md-6">
            <input type="text"  class="form-control" placeholder="Change address" required>
          </div>
          <div class="left col-md-6">
            <p>Phone:</p>
          </div>
          <div class="right col-md-6">
            <input type="text"  class="form-control" placeholder="Change phone" required>
          </div>

          <div class="left col-md-6">
            <p>Sex:</p>
          </div>
          <div class="right col-md-6">
            <label class="radio-inline">
              <input type="radio" name="sex" id="inlineCheckbox1" value="male" /> Male
            </label>
            <label class="radio-inline">
              <input type="radio" name="sex" id="inlineCheckbox2" value="female" /> Female
            </label>
          </div>
          <div class="left col-md-6">
            <p>Birth day:</p>
          </div>
          <div class="right col-md-6">
            <input type="date"  class="form-control" placeholder="" required>
          </div>
          <div class="left col-md-6">
            <p>Favorite Food:</p>
          </div>
          <div class="right col-md-6">
            <input type="text" class="form-control" placeholder="Change..." required>
          </div>
          <div class="left col-md-6">
            <p>More detail:</p>
          </div>
          <div class="right col-md-6">
            <input type="text"  class="form-control" placeholder="Change..." required>
          </div>
          <div class="left col-md-6">
            <button type="button" class="btn btn-success">Save Change</button>
          </div>
          <div class="right col-md-6">
            <button type="button" class="btn btn-danger">Cancel</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
