<div class="container">
  <div class="row row1">
    <div class="col-md-5 banner" >
        <img src="https://www.mcdonalds.com/content/dam/usa/documents/mcdelivery/mcdelivery_new11.jpg" width="480" height="300">
      

    </div>
    <div class="col-md-7 restaurant-detail">
        <h2 class="kind-restaurant" style="margin-top: 20px; margin-bottom: 10px;">
            Quán ăn
        </h2>
        <h1 style="font-size: 28px; white-space: normal; line-height: normal;" class="name-hot-restaurant">
            <span class="name">Mì Cay Khuya</span>
        </h1>
        <p class="adress" style="font-size: 22px;">323/3 Nguyen Trãi , P.Ngyen Cu Trinh, HCM</p>
        <p class="phone" class="adress" style="font-size: 22px;"><i class="fas fa-mobile"></i> 01673.123.4123</p>
        <P class="time" class="adress" style="font-size: 22px;"><i class="far fa-clock"></i> 11:00 - 17:00</P>
        <p class="minmax" style="font-size: 20px;" ><i class="fas fa-dollar-sign"></i> <span>iá thấp nhất: 20</span> <span style="padding-left: 15px">Giá cao nhất: 30</span></p>

    </div>
    <div class="row">
        
       
    </div>
  </div>
</div>

<!-- <Div class="all">
    <div class="c1">
        <span>hello1</span>
        
    </div>
    <div class="c2">
        <span>hello2</span>
    </div>
    <div class="c3">
        <span>hello3</span>
        <img src="https://www.mcdonalds.com/content/dam/usa/documents/mcdelivery/mcdelivery_new11.jpg" width="480" height="300">
    </div>
    <div class="c4">
        <span>hello4</span>
    </div>
    </Div> -->