.row1{
  padding-top: 66px;
 
}
.restaurant-detail{ 
  color: black;
}
.banner{
 
  padding: 0;
  // max-width: auto;
  // height: 100%;
  // display: block;
  // background-color: white;
} 
.content{
  padding-left: 7%;
  padding-top: 3%;
}
.kind-restaurant{
  text-transform: uppercase;
  color: #a1a1a1;
  font-size: 11px
}
// // .row1{
// //    background-color: turquoise;
// //    width: 800px ;
// //    height:  300px ;
// }
// .all{
//   margin: 66px 50px ;
// }

// .all{
//   display: flex;
// }
// .all > .c1{
//   flex: 1;
//   background-color: aqua;
// }
// .all > .c2{
//   flex: 2;
//   background-color: gold;

// }
// .all > .c3{
//   flex: 4;
//   background-color: black;

// }
// .all > .c4{
//   flex: 2;
//   background-color: saddlebrown;

// }