<div class="container-fluid">
    
        <!-- Control the column width, and how they should appear on different devices -->
        <div class="row row1">
            <div class="col-md-5 banner" style="background-color:white;">
                <img src="https://www.mcdonalds.com/content/dam/usa/documents/mcdelivery/mcdelivery_new11.jpg" width="100%" height="100%">
            </div>
            <div class="col-md-7 restaurant-detail" style="background-color:wheat;">
                <div class="content">
                    <h3 class="kind-restaurant" style="font-size: 20px; ">
                        Quán ăn
                    </h3>
                    <h1>
                        <span>Mì Cay Khuya</span>
                    </h1>
                    <p style="font-size: 20px;">
                        <i class="fas fa-map-marker"></i> 323/3 Nguyen Trãi , P.Ngyen Cu Trinh, HCM</p>
                    <p style="font-size: 25px;">
                            <i class="fas fa-phone"></i> 01673.123.4123</p>
                    <P class="time" class="adress" style="font-size: 20px;">
                        <i class="far fa-clock"></i> 11:00 - 17:00</P>
                    <p class="minmax" style="font-size: 25px;">
                        <i class="fas fa-dollar-sign"></i>
                        <span style="font-size: 20px;">Giá thấp nhất: 20.000vnd</span>
                        <span style="font-size: 20px; padding-left: 5%;">Giá cao nhất: 30.000vnd</span>
                    </p>
                </div>
            </div>
        </div>
    <!-- introduce -->
    <div class="row" style="background-color: #f8f9fa ; padding:  150px 0; ">
            <div class="col-lg-8 mx-auto">
                    <h2>ABC quán hân hạnh phục vụ quý khách!</h2>
                    <h6>Quán đang có chương trình khuyến mãi  50% nhân ngày 1/4</h6>
                    <p class="lead">pla pla pla pla  xc zcx z xcz xc zxc zxc zx c zxc zx c xzc zc as d asd qwe qwe q weq we qwe qwe</p>
                  </div>
    </div>
<!-- cmt -->
    <div class="row" style="background-color: slategray ; padding:  150px 0; ">  
            <div class="col-lg-8 mx-auto">
                    <h2>Google map</h2>
                    <p class="lead">This is Googlemaps</p>
                    
                  </div>
    </div>
    <!-- Gmaps -->
    <div class="row" style="background-color: silver ; padding:  150px 0; ">
            <div class="col-lg-8 mx-auto">
                    <h2>cmt</h2>
                    <p class="lead">FaceBook comt</p>
                  </div>
    </div>
</div>