.row1{
  padding-top: 66px;
}
.restaurant-detail{
  background-color: mistyrose;
  color: black;
  display: block;
}
.banner{
  // padding-top: 10%;
  max-width: auto;
  height: 100%;
  display: block;
  background-color: white;
} 
.kind-restaurant{
  text-transform: uppercase;
  color: #a1a1a1;
  font-size: 11px
}

// .all{
//   display: flex;
// }
// .all > .c1{
//   flex: 1;
//   background-color: aqua;
// }
// .all > .c2{
//   flex: 2;
//   background-color: gold;

// }
// .all > .c3{
//   flex: 4;
//   background-color: black;

// }
// .all > .c4{
//   flex: 2;
//   background-color: saddlebrown;

// }