<div class="body">
  <!-- The video -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-4">
        <span>Find</span>
        <input type="text" id="find" class="form-control" placeholder="Search something.." required autofocus>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <span>Type</span>
        <select class="form-control" style="height: 46px;">
          <option value="volvo">Restaurent</option>
          <option value="saab">Store</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <span>People join</span>
        <input type="number" id="number" class="form-control" placeholder="Select number.." required>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <span>Time</span>
        <span>From</span>
        <input type="time" class="form-control" name="stime">
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <span>To</span>
        <input type="time" class="form-control" name="etime">
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <span>Date</span>
        <input type="date" class="form-control" placeholder="Select date.." name="bday">
      </div>
    </div>

  </div>
  <br>
  <br>
  <div class="text-center">
    <button type="button" class="btn btn-danger">
      <i class="fas fa-search"></i> Search</button>
    <br>
    <br>
    <span style="margin-left: -20px;">or</span>
    <button type="button" class="btn btn-outline-secondary">
      <i class="fas fa-location-arrow"></i> Add new location</button>
  </div>

</div>
<app-quanan></app-quanan>
