<div id="bar">
  <span>Find</span>
  <input type="text" name="" id="" placeholder="search">
  <span>Type</span>
  <select>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
  <span>People join</span>
  <input type="number" placeholder="number people" min="0">
  <br>
  <br>
  <span>Time</span>
  <span>from:</span>
  <input type="date" name="bday">
  <span>to:</span>
  <input type="date" name="bday">
  <span>Location</span>
  <select>
    <option value="">Disttrict 1</option>
    <option value="">Disttrict 2</option>
    <option value="">Disttrict 3</option>
    <option value="">Disttrict 4</option>
    <option value="">Disttrict 5</option>
    <option value="">Disttrict 6</option>
  </select>
  <br>
  <br>
  <span>Price</span>
  <span>from:</span>
  <input type="number" min="0">
  <span>to:</span>
  <input type="number">
  <br>
  <br>
  <button type="button" class="btn btn-default">
    <img src="assets/search.png" width="20px" height="20px" class="img">Search
  </button>
  <br>
  <br>
  <div class="">
    <span style="margin-left: -20px;">or</span>
    <button type="button" class="btn btn-default">Add new location</button>
  </div>
  <br>
</div>

<app-quanan></app-quanan>