<div class="text-center">
  <img class="image " src="assets/images.png" alt="" width="120" height="120">
</div>
<div class="info ">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-push-2">
        <div class="row">
    
            <div class="left col-md-6">
              <p>Name:</p>
            </div>
            <div class="right col-md-6">
              <p>{{dataUser.Name}}</p>
            </div>
            <div class="left col-md-6">
              <p>Email:</p>
            </div>
            <div class="right col-md-6">
                <p>{{dataUser.Email}}</p>
            </div>
            <div class="left col-md-6">
              <p>Address:</p>
            </div>
            <div class="right col-md-6">
                <p>{{dataUser.Address}}</p>
            </div>
            <div class="left col-md-6">
              <p>Phone:</p>
            </div>
            <div class="right col-md-6">
                <p>{{dataUser.Phone}}</p>
            </div>
            <div class="left col-md-6">
              <p>Rate:</p>
            </div>
            <div class="right col-md-6">
              <p>No Infomation</p>
            </div>
            <div class="left col-md-6">
              <p>Sex:</p>
            </div>
            <div class="right col-md-6">
                <p>{{dataUser.Sex}}</p>
              </div>
            <div class="left col-md-6">
              <p>Birth day:</p>
            </div>
            <div class="right col-md-6">
                <p>{{dataUser.Birthday}}</p>
            </div>
            <div class="left col-md-6">
              <p>Favorite Food:</p>
            </div>
            <div class="right col-md-6">
                <p>{{dataUser.FavoriteFood}}</p>
            </div>
            <div class="left col-md-6">
              <p>More detail:</p>
            </div>
            <div class="right col-md-6">
                <p>{{dataUser.Detail}}</p>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
