.image {
  border-radius: 50%;
  border: 2px solid black;
}

.info {
  font-size: 13px;
  .name p {
    font-size: 15px;
    font-weight: 500;
  }

}

.friend {
  border-bottom: 1px solid #eaeaea;
  padding: 10px;
  
}

.titile {
    font-size: 16px;
    font-weight: 700;
}
a {
  font-size: 20px;
}