<div class="boss">
  <div class="titile">
    <h5>LIST FRIENDS</h5>
  </div>
  <div class="top row">
    <div class="col-md-4">
      <img class="image" src="assets/images.png" alt="" width="50" height="50">
    </div>
    <div class="info col-md-8 text-left">
      <p style="font-weight: 700; margin-top: 12px; font-size:15px; color: rgb(72, 59, 255); cursor: pointer; " class="name">Ha Pham</p>
      <p style="margin-top: -10px;font-size:12px" class="address">Hoc Vien BCVT TP HCM</p>
    </div>
    <hr>
  </div>

  <div class="top row">
    <div class="col-md-4">
      <img class="image" src="assets/images.png" alt="" width="50" height="50">
    </div>
    <div class="info col-md-8 text-left">
      <p style="font-weight: 700; margin-top: 12px; font-size:15px; color: rgb(72, 59, 255); cursor: pointer; " class="name">Ha Pham</p>
      <p style="margin-top: -10px;font-size:12px" class="address">Hoc Vien BCVT TP HCM</p>
    </div>
    <hr>
  </div>
  <div class="top row">
    <div class="col-md-4">
      <img class="image" src="assets/images.png" alt="" width="50" height="50">
    </div>
    <div class="info col-md-8 text-left">
      <p style="font-weight: 700; margin-top: 12px; font-size:15px; color: rgb(72, 59, 255); cursor: pointer; " class="name">Ha Pham</p>
      <p style="margin-top: -10px;font-size:12px" class="address">Hoc Vien BCVT TP HCM</p>
    </div>
    <hr>
  </div>
  <div class="top row">
    <div class="col-md-4">
      <img class="image" src="assets/images.png" alt="" width="50" height="50">
    </div>
    <div class="info col-md-8 text-left">
      <p style="font-weight: 700; margin-top: 12px; font-size:15px; color: rgb(72, 59, 255); cursor: pointer; " class="name">Ha Pham</p>
      <p style="margin-top: -10px;font-size:12px" class="address">Hoc Vien BCVT TP HCM</p>
    </div>
    <hr>
  </div>
  <div class="top row">
    <div class="col-md-4">
      <img class="image" src="assets/images.png" alt="" width="50" height="50">
    </div>
    <div class="info col-md-8 text-left">
      <p style="font-weight: 700; margin-top: 12px; font-size:15px; color: rgb(72, 59, 255); cursor: pointer; " class="name">Ha Pham</p>
      <p style="margin-top: -10px;font-size:12px" class="address">Hoc Vien BCVT TP HCM</p>
    </div>
    <hr>
  </div>
</div>
