.form-control {
    box-sizing: border-box;
    height: 30px;
    width: 40%;
  }
  
  h2 {
      font-size: 32px;
      font-weight: 400;
  }
  .row {
      margin-bottom: 10px;
  }
  mat-dialog-actions {
    margin-left: 34%;
  }